
<title>Sign In</title>
{% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{%  static 'about/style.css' %}"/>

<ul class="ul-list">
        <li class="list"><a title="Sign Up" draggable="true" href="{% url 'about:student_signup' %}">Sign Up</a></li>
</ul>

<h3><big><center>Student Sign In</center></big></h3><br>
<form class="form1" action="{% url 'about:student_auth' %}" method="post" style="margin-left:40%">
<label for="username">Username:</label>
    <input required = "" type="text" name="username" value="" id="username"><br><br>
    <label for="password">Password:&nbsp;</label>
    <input required= "" type="password" name="password" value="" id="password"><br><br>

<input type="Submit" value="Log In" style="margin-left: 17%">
</form>





<div style="position: relative;width: 300px;height: 400px">
    <div style="position: absolute;bottom: 5px">
        <h3 class= "pos">&copyAll Rights Reserved 2017</h3>
    </div>
    </div>

