
body{
    background : white url("images/web_pattern_14.jpg");
}
.topnav{
    width: 100%;
    height: 44px;
    background-color:#5f5f5f;
    overflow: hidden;
}
.topnav a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover{
    background-color: steelblue;
    color: white;
}
.myImg{
    border:5px solid #dddddd;
    cursor: pointer;
    transition:0.3s ;
    margin-right: 4%;
    padding: 5px;
}
.myImg:hover{
    opacity: 0.7;
}
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);

    background-color: rgba(0,0,0,0.9);
}
.modal-content{
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}
#caption{
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}
.modal-content,#caption{
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
    from{-webkit-transform: scale(0)}
    to{-webkit-transform: scale(1)}

}
@keyframes zoom {
    from{transform: scale(0)}
    to {transform: scale(1)  }

}
.close{
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close:hover,.close:focus{
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
@media only screen and (max-width: 700px){
    .modal-content{
        width: 100%;
    }
}
.main{
    display:inline-flex;
}
.pos{
    text-align: center;
}
.vid{
    border:2px solid gray;
    transition:0.3s ;
    margin-right: 4%;
    padding: 0;
}
.vid:hover{
    background-color: #111;
}
.ul-list{;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkturquoise;
}
.list{
    float: left;
}
.list a{
    display: block;
    color: white;
    text-align: center;
    padding:14px 16px;
    text-decoration: none;
}
.list a:hover{
    background-color: #111;
}
.form1{
    width: 35%;
    float: left;
    padding-left: 5%;
}
.sub:hover{
    background-color: royalblue;
    color: #cccccc;
}
#footer{
    height: 120px;
    width: 100%;
    color: black;
    text-align: center;
    position: absolute;
    bottom: 2px;
}
.names:hover{
    color: green;
}
